@if (serie) {
<article>
    <div class="d-flex flex-column flex-md-row contenido">
        <figure>
            <img [src]="'https://image.tmdb.org/t/p/w200/' + serie.poster_path" alt="{{serie.name}}">
        </figure>

        <div class="info">
            <h2>{{serie.name}}</h2>
            <section>
                <div class="parrafos">
                    <div class="info-movie">
                        <ul> 
                            @for (genre of serie.genres; track genre.id) {
                                <li>{{ genre.name }}</li>
                            }
                        </ul>
                        <ul>
                            <li>
                                <i class="fa-solid fa-clock"></i>
                                {{ serie.episode_run_time }} min
                            </li>
                            <li>
                                <i class="fa-solid fa-calendar-check"></i>
                                {{serie.first_air_date | date: 'MM/yyyy'}}</li>
                            <li>
                                <i class="fa-solid fa-star"></i>
                                {{serie.vote_average}}</li>
                            <li>
                                <i class="fa-solid fa-earth-americas"></i>
                                {{serie.original_language.toUpperCase()}}</li>
                        </ul>
                    </div>
                    <ul>
                        <li>
                            @if (serie.overview.length > 0) {
                                {{ serie.overview }}
                            } @else {
                                <span class="texto-vacio">Aún no tenemos la descripción disponible. Disculpa las molestias.</span>
                            }
                            </li>
                        <li class="director">Dirección:</li>
                        <li>{{ director }}</li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</article>
}


